services:
  mc:
    image: itzg/minecraft-server
    container_name: minecraft-server
    restart: unless-stopped
    tty: true
    stdin_open: true
    ports:
      - "25565:25565"
    environment:
      EULA: "TRUE"
      MEMORY: "12G"
      ENABLE_ROLLING_LOGS: "true"
      TZ: "Europe/Madrid"
      ICON: /extras/turing.png
      OVERRIDE_ICON: "true"
      OVERRIDE_SERVER_PROPERTIES: "true"
      MAX_TICK_TIME: "-1"
      ALLOW_FLIGHT: "true"
      # This sets the type of the modpack platform (AUTO_CURSEFORGE, MODRINTH, VANILLA)
      MODPACK_PLATFORM: AUTO_CURSEFORGE
      CF_API_KEY: ${CF_API_KEY}
      CF_SLUG: all-the-mods-10
      CF_FILENAME_MATCHER: 10-5.3.1
      CF_FORCE_SYNCHRONIZE: true
      CF_EXCLUDE_MODS: colorwheel,smithing-template-viewer
    volumes:
      # attach the relative directory 'data' to the container's /data path
      - ./data:/data
      - ./extras:/extras:ro
